.forms-text-field {
  .text-field {
    border-radius: 10pxpx;
    border: 2px solid #ccc;
    background-color: transparent;
  }
  .text-field:hover,
  :focus,
  :active,
  :visited {
    box-shadow: none;

    background-color: transparent;
  }
  &:hover,
  :focus {
    box-shadow: none;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.percentage-svg
{
  position: absolute;
  top: 0.65em;
  right: 0.6em;
}
}
